{namespace Templates.CodeMirrorTabs}

/**
 * This renders the main element.
 * @param? elementClasses
 * @param id
 * @skipUpdates elementClasses
 */
{template .content}
	<div id="{$id}" class="codeMirrorTabs component{$elementClasses ? ' ' + $elementClasses : ''}">
	</div>
{/template}
